In [125]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import datetime as dt

In [6]:
clusters = pd.read_csv('./Source Data/2018_with_clusters.csv')

In [10]:
clusters = clusters.set_index('State')

In [11]:
clusters.head()

,Total Nonfarm,Manufacturing,"Trade, Transportation, and Utils",Information,Financial Activities,Professional & Business Services,Education & Health Services,Leisure & Hospitality,Other Services,Government,...,pct_Financial Activities,pct_Professional & Business Services,pct_Education & Health Services,pct_Leisure & Hospitality,pct_Other Services,pct_Government,"pct_Mining, Logging and Construction",clusters-4,clusters-3,clusters-5
State,,,,,,,,,,,,,,,,,,,,,
Alabama,2046.258,266.992,383.467,21.092,96.258,244.242,245.167,205.933,97.117,386.792,...,0.0470,0.1194,0.1198,0.1006,0.0475,0.1890,0.0485,0,2,0
Alaska,327.658,12.500,64.408,5.608,11.767,27.358,50.442,35.650,11.058,80.375,...,0.0359,0.0835,0.1539,0.1088,0.0337,0.2453,0.0870,0,2,3
Arizona,2857.717,171.450,534.525,47.558,220.008,434.033,445.417,325.975,92.442,415.858,...,0.0770,0.1519,0.1559,0.1141,0.0323,0.1455,0.0596,2,0,0
Arkansas,1267.492,160.800,253.408,12.433,61.058,145.425,191.575,118.267,55.650,212.108,...,0.0482,0.1147,0.1511,0.0933,0.0439,0.1673,0.0448,0,2,3
California,17172.225,1323.550,3045.983,542.850,837.875,2670.217,2722.283,1993.142,571.667,2581.483,...,0.0488,0.1555,0.1585,0.1161,0.0333,0.1503,0.0514,3,1,4

In [21]:
clusters['clusters-5'].unique()

array([0, 3, 4, 1, 2], dtype=int64)

In [26]:
clusters[clusters['clusters-5'] == 0].index

Index(['Alabama', 'Arizona', 'Colorado', 'Indiana', 'Kentucky', 'Louisiana',
       'Maryland', 'Massachusetts', 'Minnesota', 'Missouri', 'Oregon',
       'South Carolina', 'Tennessee', 'Washington', 'Wisconsin'],
      dtype='object', name='State')

In [35]:
re.findall('\d+', 'clusters-5')[0]

'5'

In [36]:
value = 5
name = f'Hi {value}'

'Hi 5'

In [44]:
def get_clusters(df, column_list):
    
    all_clusters = {}
    
    for column in column_list:
        
        n_cluster = int(re.findall('\d+', column)[0])
        
        state_clusters = {}

        for cluster in df[column].unique():
            state_clusters[cluster] = list(df[df[column] == cluster].index)
    
        all_clusters[n_cluster] = state_clusters
    
    return all_clusters

In [45]:
cluster_labels = get_clusters(clusters, ['clusters-3', 'clusters-4', 'clusters-5'])

In [53]:
cluster_labels[4][1]

['Florida', 'New York', 'Texas']

In [62]:
bama = pd.read_csv('./State Employment/Alabama_employment.csv')
bama.head()

,Year,Period,labor force participation rate,employment-population ratio,labor force,employment,unemployment,unemployment rate
0,2012,Jan,58.3,53.4,2179750.0,1993523.0,186227.0,8.5
1,2012,Feb,58.2,53.3,2175635.0,1992089.0,183546.0,8.4
2,2012,Mar,58.1,53.2,2173644.0,1991104.0,182540.0,8.4
3,2012,Apr,58.1,53.2,2173494.0,1991037.0,182457.0,8.4
4,2012,May,58.1,53.2,2174754.0,1992484.0,182270.0,8.4

In [64]:
bama['date'] = pd.to_datetime(bama['Year'].astype(str) + '-' + bama['Period'])
bama = bama.set_index('date')
bama.head()

,Year,Period,labor force participation rate,employment-population ratio,labor force,employment,unemployment,unemployment rate
date,,,,,,,,
2012-01-01,2012,Jan,58.3,53.4,2179750.0,1993523.0,186227.0,8.5
2012-02-01,2012,Feb,58.2,53.3,2175635.0,1992089.0,183546.0,8.4
2012-03-01,2012,Mar,58.1,53.2,2173644.0,1991104.0,182540.0,8.4
2012-04-01,2012,Apr,58.1,53.2,2173494.0,1991037.0,182457.0,8.4
2012-05-01,2012,May,58.1,53.2,2174754.0,1992484.0,182270.0,8.4

In [76]:
temp_frame = pd.DataFrame()
temp_frame = temp_frame.append(bama)

temp_frame

,Year,Period,labor force participation rate,employment-population ratio,labor force,employment,unemployment,unemployment rate
date,,,,,,,,
2012-01-01,2012,Jan,58.3,53.4,2179750.0,1993523.0,186227.0,8.5
2012-02-01,2012,Feb,58.2,53.3,2175635.0,1992089.0,183546.0,8.4
2012-03-01,2012,Mar,58.1,53.2,2173644.0,1991104.0,182540.0,8.4
2012-04-01,2012,Apr,58.1,53.2,2173494.0,1991037.0,182457.0,8.4
2012-05-01,2012,May,58.1,53.2,2174754.0,1992484.0,182270.0,8.4
...,...,...,...,...,...,...,...,...
2021-09-01,2021,Sep,56.3,54.5,2240353.0,2168364.0,71989.0,3.2
2021-10-01,2021,Oct,56.3,54.5,2241442.0,2170873.0,70569.0,3.1
2021-11-01,2021,Nov,56.2,54.5,2242078.0,2172390.0,69688.0,3.1
2021-12-01,2021,Dec,56.2,54.5,2242275.0,2172841.0,69434.0,3.1
2022-01-01,2022,Jan,56.4,54.7,2250379.0,2181238.0,69141.0,3.1

In [74]:
temp_frame

,Year,Period,labor force participation rate,employment-population ratio,labor force,employment,unemployment,unemployment rate
date,,,,,,,,
2012-01-01,2012,Jan,58.3,53.4,2179750.0,1993523.0,186227.0,8.5
2012-02-01,2012,Feb,58.2,53.3,2175635.0,1992089.0,183546.0,8.4
2012-03-01,2012,Mar,58.1,53.2,2173644.0,1991104.0,182540.0,8.4
2012-04-01,2012,Apr,58.1,53.2,2173494.0,1991037.0,182457.0,8.4
2012-05-01,2012,May,58.1,53.2,2174754.0,1992484.0,182270.0,8.4
...,...,...,...,...,...,...,...,...
2021-09-01,2021,Sep,56.3,54.5,2240353.0,2168364.0,71989.0,3.2
2021-10-01,2021,Oct,56.3,54.5,2241442.0,2170873.0,70569.0,3.1
2021-11-01,2021,Nov,56.2,54.5,2242078.0,2172390.0,69688.0,3.1
2021-12-01,2021,Dec,56.2,54.5,2242275.0,2172841.0,69434.0,3.1
2022-01-01,2022,Jan,56.4,54.7,2250379.0,2181238.0,69141.0,3.1

In [77]:
temp_frame = temp_frame.append(bama)

temp_frame

,Year,Period,labor force participation rate,employment-population ratio,labor force,employment,unemployment,unemployment rate
date,,,,,,,,
2012-01-01,2012,Jan,58.3,53.4,2179750.0,1993523.0,186227.0,8.5
2012-02-01,2012,Feb,58.2,53.3,2175635.0,1992089.0,183546.0,8.4
2012-03-01,2012,Mar,58.1,53.2,2173644.0,1991104.0,182540.0,8.4
2012-04-01,2012,Apr,58.1,53.2,2173494.0,1991037.0,182457.0,8.4
2012-05-01,2012,May,58.1,53.2,2174754.0,1992484.0,182270.0,8.4
...,...,...,...,...,...,...,...,...
2021-09-01,2021,Sep,56.3,54.5,2240353.0,2168364.0,71989.0,3.2
2021-10-01,2021,Oct,56.3,54.5,2241442.0,2170873.0,70569.0,3.1
2021-11-01,2021,Nov,56.2,54.5,2242078.0,2172390.0,69688.0,3.1
2021-12-01,2021,Dec,56.2,54.5,2242275.0,2172841.0,69434.0,3.1
2022-01-01,2022,Jan,56.4,54.7,2250379.0,2181238.0,69141.0,3.1

In [83]:
for key in cluster_labels.keys():
    print(key)

3
4
5

In [86]:
for rank in cluster_labels.keys():
    
    for cluster in cluster_labels[rank].keys():
        
        cluster_df = pd.DataFrame()

        for state in cluster_labels[rank][cluster]:
            state_df = pd.read_csv(f'./State Employment/{state}_employment.csv')
            state_df['date'] = pd.to_datetime(state_df['Year'].astype(str) + '-' + state_df['Period'])
            state_df.set_index('date', inplace=True)
            state_df['State'] = state

            cluster_df = cluster_df.append(state_df)

        file_path = './State Employment/'
        csv_name = f'KMeans-{rank}_Cluster-{cluster}_employment.csv'
        cluster_df.to_csv(f'{file_path}{csv_name}', index_label='date')

In [89]:
pd.read_csv('./State Employment/KMeans-5_Cluster-0_employment.csv', index_col='date')

,Year,Period,labor force participation rate,employment-population ratio,labor force,employment,unemployment,unemployment rate,State
date,,,,,,,,,
2012-01-01,2012,Jan,58.3,53.4,2179750.0,1993523.0,186227.0,8.5,Alabama
2012-02-01,2012,Feb,58.2,53.3,2175635.0,1992089.0,183546.0,8.4,Alabama
2012-03-01,2012,Mar,58.1,53.2,2173644.0,1991104.0,182540.0,8.4,Alabama
2012-04-01,2012,Apr,58.1,53.2,2173494.0,1991037.0,182457.0,8.4,Alabama
2012-05-01,2012,May,58.1,53.2,2174754.0,1992484.0,182270.0,8.4,Alabama
...,...,...,...,...,...,...,...,...,...
2021-09-01,2021,Sep,66.5,64.3,3135470.0,3030203.0,105267.0,3.4,Wisconsin
2021-10-01,2021,Oct,66.4,64.3,3134799.0,3035515.0,99284.0,3.2,Wisconsin
2021-11-01,2021,Nov,66.4,64.3,3134692.0,3037765.0,96927.0,3.1,Wisconsin
2021-12-01,2021,Dec,66.4,64.3,3135065.0,3038524.0,96541.0,3.1,Wisconsin
2022-01-01,2022,Jan,66.4,64.4,3136984.0,3043858.0,93126.0,3.0,Wisconsin

In [183]:
personal_income = pd.read_csv('./State Metrics/quarterly_pi.csv')
personal_income.drop(columns='GeoFips', inplace=True)
personal_income.head()

,GeoName,2017:Q1,2017:Q2,2017:Q3,2017:Q4,2018:Q1,2018:Q2,2018:Q3,2018:Q4,2019:Q1,...,2019:Q3,2019:Q4,2020:Q1,2020:Q2,2020:Q3,2020:Q4,2021:Q1,2021:Q2,2021:Q3,2021:Q4
0,Alabama,39823.0,40112.0,40305.0,40731.0,41148.0,41409.0,41675.0,42162.0,42770.0,...,43270.0,43526.0,43911.0,47768.0,45502.0,44863.0,51736.0,47230.0,47400.0,48022.0
1,Alaska *,56564.0,56869.0,57597.0,58164.0,58846.0,59239.0,60258.0,60717.0,61074.0,...,61863.0,62135.0,61899.0,66492.0,62293.0,62708.0,69497.0,66108.0,66199.0,66713.0
2,Arizona,42608.0,42966.0,43597.0,43955.0,44688.0,44994.0,45551.0,45890.0,46678.0,...,47404.0,47847.0,48413.0,53994.0,52153.0,50759.0,56965.0,52985.0,53331.0,53884.0
3,Arkansas,41757.0,41871.0,42027.0,42567.0,42986.0,43338.0,43849.0,44447.0,44739.0,...,45134.0,45455.0,45776.0,50314.0,47019.0,46888.0,53960.0,49908.0,50181.0,50500.0
4,California,57841.0,58456.0,59085.0,59890.0,60344.0,61195.0,61992.0,62543.0,63473.0,...,64411.0,65341.0,66312.0,70714.0,72170.0,70735.0,77999.0,74972.0,76182.0,76319.0

In [184]:
personal_income.dropna(inplace=True)

In [185]:
re.findall('\w+', 'Alaska *')[0]

'Alaska'

In [186]:
# Removing asterisk from Hawaii and Alaska (Noting that data prior to 1950 are not available)
personal_income['GeoName'] = personal_income['GeoName'].apply(lambda s: re.findall('\w+\s*\w+\s*\w+', s)[0])

In [187]:
personal_income.set_index('GeoName', inplace=True)
personal_income.head()

,2017:Q1,2017:Q2,2017:Q3,2017:Q4,2018:Q1,2018:Q2,2018:Q3,2018:Q4,2019:Q1,2019:Q2,2019:Q3,2019:Q4,2020:Q1,2020:Q2,2020:Q3,2020:Q4,2021:Q1,2021:Q2,2021:Q3,2021:Q4
GeoName,,,,,,,,,,,,,,,,,,,,
Alabama,39823.0,40112.0,40305.0,40731.0,41148.0,41409.0,41675.0,42162.0,42770.0,43027.0,43270.0,43526.0,43911.0,47768.0,45502.0,44863.0,51736.0,47230.0,47400.0,48022.0
Alaska,56564.0,56869.0,57597.0,58164.0,58846.0,59239.0,60258.0,60717.0,61074.0,61416.0,61863.0,62135.0,61899.0,66492.0,62293.0,62708.0,69497.0,66108.0,66199.0,66713.0
Arizona,42608.0,42966.0,43597.0,43955.0,44688.0,44994.0,45551.0,45890.0,46678.0,46972.0,47404.0,47847.0,48413.0,53994.0,52153.0,50759.0,56965.0,52985.0,53331.0,53884.0
Arkansas,41757.0,41871.0,42027.0,42567.0,42986.0,43338.0,43849.0,44447.0,44739.0,44771.0,45134.0,45455.0,45776.0,50314.0,47019.0,46888.0,53960.0,49908.0,50181.0,50500.0
California,57841.0,58456.0,59085.0,59890.0,60344.0,61195.0,61992.0,62543.0,63473.0,64086.0,64411.0,65341.0,66312.0,70714.0,72170.0,70735.0,77999.0,74972.0,76182.0,76319.0

In [188]:
quarters = pd.Series(personal_income.columns)
quarters

0     2017:Q1
1     2017:Q2
2     2017:Q3
3     2017:Q4
4     2018:Q1
5     2018:Q2
6     2018:Q3
7     2018:Q4
8     2019:Q1
9     2019:Q2
10    2019:Q3
11    2019:Q4
12    2020:Q1
13    2020:Q2
14    2020:Q3
15    2020:Q4
16    2021:Q1
17    2021:Q2
18    2021:Q3
19    2021:Q4
dtype: object

In [189]:
# personal_income['GeoName'] =
quarters = quarters.apply(lambda s: re.sub(':','-', s))
quarters

0     2017-Q1
1     2017-Q2
2     2017-Q3
3     2017-Q4
4     2018-Q1
5     2018-Q2
6     2018-Q3
7     2018-Q4
8     2019-Q1
9     2019-Q2
10    2019-Q3
11    2019-Q4
12    2020-Q1
13    2020-Q2
14    2020-Q3
15    2020-Q4
16    2021-Q1
17    2021-Q2
18    2021-Q3
19    2021-Q4
dtype: object

In [190]:
quarters = pd.to_datetime(quarters)
quarters

0    2017-01-01
1    2017-04-01
2    2017-07-01
3    2017-10-01
4    2018-01-01
5    2018-04-01
6    2018-07-01
7    2018-10-01
8    2019-01-01
9    2019-04-01
10   2019-07-01
11   2019-10-01
12   2020-01-01
13   2020-04-01
14   2020-07-01
15   2020-10-01
16   2021-01-01
17   2021-04-01
18   2021-07-01
19   2021-10-01
dtype: datetime64[ns]

In [191]:
quarters.values

array(['2017-01-01T00:00:00.000000000', '2017-04-01T00:00:00.000000000',
       '2017-07-01T00:00:00.000000000', '2017-10-01T00:00:00.000000000',
       '2018-01-01T00:00:00.000000000', '2018-04-01T00:00:00.000000000',
       '2018-07-01T00:00:00.000000000', '2018-10-01T00:00:00.000000000',
       '2019-01-01T00:00:00.000000000', '2019-04-01T00:00:00.000000000',
       '2019-07-01T00:00:00.000000000', '2019-10-01T00:00:00.000000000',
       '2020-01-01T00:00:00.000000000', '2020-04-01T00:00:00.000000000',
       '2020-07-01T00:00:00.000000000', '2020-10-01T00:00:00.000000000',
       '2021-01-01T00:00:00.000000000', '2021-04-01T00:00:00.000000000',
       '2021-07-01T00:00:00.000000000', '2021-10-01T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [192]:
# Transpose to add datetime column
personal_income = personal_income.T

In [193]:
personal_income['Quarter'] = quarters.values

In [194]:
quarters

0    2017-01-01
1    2017-04-01
2    2017-07-01
3    2017-10-01
4    2018-01-01
5    2018-04-01
6    2018-07-01
7    2018-10-01
8    2019-01-01
9    2019-04-01
10   2019-07-01
11   2019-10-01
12   2020-01-01
13   2020-04-01
14   2020-07-01
15   2020-10-01
16   2021-01-01
17   2021-04-01
18   2021-07-01
19   2021-10-01
dtype: datetime64[ns]

In [195]:
personal_income['Quarter']

2017:Q1   2017-01-01
2017:Q2   2017-04-01
2017:Q3   2017-07-01
2017:Q4   2017-10-01
2018:Q1   2018-01-01
2018:Q2   2018-04-01
2018:Q3   2018-07-01
2018:Q4   2018-10-01
2019:Q1   2019-01-01
2019:Q2   2019-04-01
2019:Q3   2019-07-01
2019:Q4   2019-10-01
2020:Q1   2020-01-01
2020:Q2   2020-04-01
2020:Q3   2020-07-01
2020:Q4   2020-10-01
2021:Q1   2021-01-01
2021:Q2   2021-04-01
2021:Q3   2021-07-01
2021:Q4   2021-10-01
Name: Quarter, dtype: datetime64[ns]

In [196]:
personal_income = personal_income.set_index('Quarter')

In [199]:
personal_income.to_csv(f'./State Metrics/Quarterly_Personal_Income.csv', index_label='Quarter')

In [200]:
pd.read_csv('./State Metrics/Quarterly_Personal_Income.csv', index_col='Quarter')

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
Quarter,,,,,,,,,,,,,,,,,,,,,
2017-01-01,39823.0,56564.0,42608.0,41757.0,57841.0,54091.0,69150.0,49926.0,79152.0,48028.0,...,50197.0,44460.0,48221.0,42575.0,50314.0,54355.0,56402.0,38681.0,47999.0,55758.0
2017-04-01,40112.0,56869.0,42966.0,41871.0,58456.0,54807.0,69996.0,50056.0,79541.0,48807.0,...,50377.0,44733.0,48867.0,43069.0,50441.0,54731.0,56852.0,38865.0,48429.0,56868.0
2017-07-01,40305.0,57597.0,43597.0,42027.0,59085.0,55582.0,70372.0,50809.0,80316.0,49329.0,...,50345.0,44996.0,49510.0,43697.0,50865.0,55159.0,57462.0,39338.0,49103.0,57381.0
2017-10-01,40731.0,58164.0,43955.0,42567.0,59890.0,56626.0,71051.0,51197.0,80957.0,49943.0,...,50582.0,45656.0,50306.0,44285.0,51236.0,55669.0,58327.0,39764.0,49414.0,58260.0
2018-01-01,41148.0,58846.0,44688.0,42986.0,60344.0,57316.0,72123.0,51995.0,81470.0,50684.0,...,51784.0,46300.0,51197.0,45226.0,51641.0,56078.0,59435.0,40324.0,50224.0,59217.0
2018-04-01,41409.0,59239.0,44994.0,43338.0,61195.0,58040.0,72718.0,52503.0,82040.0,51074.0,...,51904.0,46679.0,51685.0,45697.0,52075.0,56421.0,59703.0,40936.0,50438.0,59958.0
2018-07-01,41675.0,60258.0,45551.0,43849.0,61992.0,58942.0,73919.0,53223.0,83224.0,51771.0,...,52275.0,47362.0,52322.0,46240.0,52373.0,56970.0,60574.0,41771.0,51050.0,60738.0
2018-10-01,42162.0,60717.0,45890.0,44447.0,62543.0,59646.0,73984.0,53573.0,83455.0,52245.0,...,54304.0,47698.0,52811.0,46845.0,52671.0,57432.0,61010.0,42133.0,51540.0,61369.0
2019-01-01,42770.0,61074.0,46678.0,44739.0,63473.0,60600.0,74909.0,53384.0,82546.0,52979.0,...,54629.0,48533.0,53127.0,48317.0,53804.0,57946.0,62261.0,42281.0,52009.0,61346.0
2019-04-01,43027.0,61416.0,46972.0,44771.0,64086.0,60737.0,74796.0,53452.0,82899.0,53229.0,...,54218.0,48667.0,53230.0,48211.0,53586.0,58171.0,62517.0,42430.0,52304.0,61214.0
2019-07-01,43270.0,61863.0,47404.0,45134.0,64411.0,61410.0,74688.0,53538.0,83411.0,53397.0,...,55383.0,48816.0,53587.0,48757.0,53909.0,58628.0,62870.0,42451.0,52420.0,61641.0
2019-10-01,43526.0,62135.0,47847.0,45455.0,65341.0,61610.0,75247.0,53702.0,84113.0,53816.0,...,55832.0,49046.0,54007.0,49371.0,54088.0,59075.0,63585.0,42311.0,52922.0,61971.0
2020-01-01,43911.0,61899.0,48413.0,45776.0,66312.0,62460.0,75754.0,54532.0,85195.0,54395.0,...,57229.0,49423.0,53928.0,49711.0,54995.0,59786.0,64543.0,42697.0,53221.0,61827.0
2020-04-01,47768.0,66492.0,53994.0,50314.0,70714.0,66212.0,79091.0,57562.0,91917.0,57804.0,...,61718.0,52674.0,57213.0,53800.0,61318.0,63378.0,69214.0,48694.0,57385.0,64998.0
2020-07-01,45502.0,62293.0,52153.0,47019.0,72170.0,63581.0,77866.0,55636.0,91340.0,56514.0,...,58078.0,50676.0,55555.0,50953.0,56693.0,61645.0,67317.0,44101.0,54210.0,60997.0
2020-10-01,44863.0,62708.0,50759.0,46888.0,70735.0,63948.0,77663.0,55398.0,90650.0,55563.0,...,61378.0,50368.0,54878.0,52204.0,56465.0,61817.0,66709.0,43868.0,55263.0,61754.0
2021-01-01,51736.0,69497.0,56965.0,53960.0,77999.0,70603.0,83809.0,61569.0,97423.0,62935.0,...,66803.0,57619.0,61782.0,58085.0,63087.0,67830.0,73710.0,51109.0,61303.0,68429.0
2021-04-01,47230.0,66108.0,52985.0,49908.0,74972.0,67753.0,80876.0,57827.0,95909.0,59522.0,...,64413.0,53336.0,58311.0,53962.0,58488.0,63950.0,71051.0,46514.0,57166.0,64459.0
2021-07-01,47400.0,66199.0,53331.0,50181.0,76182.0,68556.0,81377.0,57974.0,97079.0,59886.0,...,64239.0,53834.0,58719.0,54355.0,58464.0,64524.0,71070.0,46519.0,57612.0,64465.0
2021-10-01,48022.0,66713.0,53884.0,50500.0,76319.0,69113.0,82204.0,58584.0,96954.0,60631.0,...,63395.0,54661.0,59843.0,55158.0,58740.0,65281.0,71683.0,47071.0,58136.0,65115.0